/*==============================
Developed by : Shovon Kumar
Author : Shovon Kumar
Contact : shovon.cse2@gmail.com
==============================*/


/* Universal CSS Start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul li {
	list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: black;
}
img {
    vertical-align: middle;
}
/* Universal CSS End 



/* Header Part Start */
.header_part {
    position: fixed;
    width: 100%;
    background-color: #00001175;
    z-index: 99;
}
.navbar {
    padding: 1rem 0;
}
.black-bg {
    background: #000;
    box-shadow: rgba(255, 0, 0, 0.50) 0px 1px 4px;
    transition: 0.4s;
}
.navbar .navbar-brand h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
    margin: 0;
    line-height: 0;
}
.navbar .navbar-brand h1 span {
    color: #fff;
}
.navbar-nav .nav-item .nav-link {
    font-size: 0.97rem;
    font-weight: 600;
    padding-bottom: 0;
    padding: 0.35rem 1.15rem;
    color: #fff;
    transition: 0.3s;
    margin-left: 0.45rem;
    border-radius: 1.2rem;
}
.navbar-nav .nav-item .nav-link:hover {
    color: red;
}
.navbar-toggler {
    color: red;
    border: 1px solid red;
}
.navbar-toggler:focus {
    border: 1px solid transparent;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1.4em;
    vertical-align: middle;
    background-image: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}  
.navbar-toggler-icon i {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 1.15;
}
/* Header Part End */



/* Hero Part Start */
.hero_part {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 11rem;
    padding-bottom: 9rem;
    overflow: hidden;
}
.hero_content {
    text-align: left;
}
.hero_content .hero_con h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    line-height: 4.6rem;
}
.hero_content .hero_con h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(255, 100, 100);
}

.hero_content .hero_con .hero_text {
    width: 55%;
    font-size: 1.05rem;
    line-height: 1.7rem;
    font-style: italic;
    margin-top: 0.7rem;
}
.hero_content .hero_con .btn-home {
    margin-top: 1rem;
    background-color: transparent;
    color: white;
    font-size: 0.95rem;
    padding: 0.6rem 1.5rem;
    margin-right: 1.4rem;
    border: 0.11rem solid red;
    border-radius: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
}
.hero_content .hero_con .btn-home:hover {
    background-color: red;
}
/* Hero Part End */



/* About Part Start */
.about {
    padding: 4.5rem 0;
    overflow: hidden;
    overflow: hidden;
}
.about .about_heading h2::after {
    content: "";
    display: block;
    height: 0.125rem;
    width: 11rem;
    border-radius: 3rem;
    background: red;
    margin: auto;
    margin-top: 0.45rem;
}
.about .about_content .about_text h3 {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    margin-bottom: 1.3rem;
}
.about .about_content .about_text h3::after {
    content: "";
    display: block;
    height: 0.115rem;
    width: 2rem;
    border-radius: 5rem;
    background: red;
    margin-top: 0.25rem;
}
.about .about_content {
    margin-top: 4rem;
}
.about .about_content .about_text p {
    font-size: 1.05rem;
    text-align: justify;
    color: gray;
}
.about .about_content .about_text .btn-about {
    margin-top: 1rem;
    background-color: transparent;
    color: black;
    font-size: 0.95rem;
    padding: 0.55rem 1.5rem;
    border: 0.13rem solid red;
    border-radius: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
}
.about .about_content .about_text .btn-about:hover {
    background: red;
    color: #fff;
}
.about .about_content .about_image img {
    border-radius: 2rem;
}
/* About Part End */




/* Service Part Start */
.service {
    padding: 4.5rem 0;
    background: rgb(240, 240, 240);
    overflow: hidden;
}
.service_part .service_heading h2::after {
    content: "";
    display: block;
    height: 0.125rem;
    width: 14rem;
    border-radius: 3rem;
    background: red;
    margin: auto;
    margin-top: 0.45rem;
}
.service_part .service_content {
    margin-top: 4rem;
}
.service_part .service_content .service_item {
    background: #fff;
    padding: 1.8rem 0.8rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
    position: relative;
}
.service_part .service_content .service_item:hover {
    background-color: rgb(255, 39, 39);
}
.service_part .service_content .service_item:hover .icon {
    background: #000;
}
.service_part .service_content .service_item:hover h3,
.service_part .service_content .service_item:hover p {
    color: #fff
}
.service_item h3 {
    margin-top: 1.2rem;
    font-size: 1.35rem;
    color: rgb(53, 53, 53);
}
.service_item p {
    font-size: .97rem;
    line-height: 1.5rem;
    margin: 0.5rem;
    margin-bottom: 0;
    color: rgb(88, 88, 88);
}
.service_item .icon i {
    font-size: 2rem;
    color: white;
}
.service_item .icon{
    height: 4rem;
    width: 4rem;
    background-color: red;
    border-radius: 50%;
    line-height: 4.65rem;
    transition: 0.3s;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
}
/* Service Part End */



/* Skill Part Start */
.skill {
    padding: 4.5em 0;
    overflow: hidden;
}
.skill_part .skill_heading h2::after {
    content: "";
    display: block;
    height: 0.125rem;
    width: 10.3rem;
    border-radius: 3rem;
    background: red;
    margin: auto;
    margin-top: 0.45rem;
}
.skill_part h3 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}
svg.radial-progress circle {
	stroke-width: 7;
}
svg.radial-progress text {
	fill: #3c4761;
	font-size: 0.8rem;
}
svg.html circle {
    stroke: #a89d00;  
}
svg.css circle {
    stroke: #25b9ea; 
}
svg.javascript circle {
    stroke: #d73978;
}
svg.bootstrap circle {
    stroke: #8d0bb1;
}
svg.jquery circle {
    stroke: #068a46;
}
svg.photoshop circle {
    stroke: #0041d8;
}

/* Skill Part End */



/* Portfolio Part Start */
.portfolio {
    background: rgb(240, 240, 240);
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    overflow: hidden;
}
.portfolio_part .portfolio_heading h2::after {
    content: "";
    display: block;
    height: 0.125rem;
    width: 14rem;
    border-radius: 3rem;
    background: red;
    margin: auto;
    margin-top: 0.45rem;
}
.portfolio_content {
    margin-top: 3.5rem;
}
.portfolio_content .portfolio_image {
    position: relative;
}
.portfolio_image:hover .image_overlay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.portfolio_content img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.portfolio_content .image_overlay {
    height: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
.portfolio_content .image_overlay h5 {
    color: #fff;
    font-size: 1.8rem
}
.portfolio_content .image_overlay a {
    color: #ff0;
    padding: 15px 25px;
    transition: 0.4s;
    font-size: 1.2rem;
}
.portfolio_content .image_overlay a:hover {
    color: #f00;
}
.portfolio_part .btn-portfolio {
    margin-top: 3.5rem;
    background-color: transparent;
    color: black;
    font-size: 0.95rem;
    padding: 0.55rem 2rem;
    border: 0.13rem solid red;
    border-radius: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
}
.portfolio_part .btn-portfolio:hover {
    background: red;
    color: #fff;
}
/* Portfolio Part End */



/* Contact Part Start */
.contact {
    background: #000;
    padding: 2rem 0;
    overflow: hidden;
}
.contact_part .contact_link h5::after {
    content: "";
    display: block;
    height: 0.115rem;
    width: 4rem;
    border-radius: 5rem;
    background: red;
    margin: auto;
    margin-top: 0.20rem;
}
.contact_part .contact_link a i {
    color: #fff;
    font-size: 2.3rem;
    margin-top: 0.5rem;
}
.contact_part .contact_link a:nth-child(1) i {
    color: #4f7de0;
}
.contact_part .contact_link a:nth-child(2) i {
    color: #04a139;
}
.contact_part .contact_link a:nth-child(3) i {
    color: #da3300;
}
.contact_part .contact_link a:nth-child(4) i {
    color: #0072b1;
}
.contact_part .contact_link h4::after {
    content: "";
    display: block;
    height: 0.12rem;
    width: 8rem;
    border-radius: 5rem;
    background: red;
    margin-top: 0.25rem;
}
.contact_part .contact_form form input,
.contact_part .contact_form form textarea {
    width: 80%;
    padding: 0.4rem;
    margin: 0.45rem 0.8rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    border: 2px solid #f00;
}
.contact_part .contact_form form textarea {
    height: 5rem;
}
.contact_part .contact_form form input[type=submit] {
    padding: 0.6rem 0.5rem;
    font-weight: 700;
    border: 2px solid #f00;
    transition: 0.4s;
    margin-bottom: 0;
    background: #f00;
    color: #fff;
}
.contact_part .contact_form form input[type=submit]:hover {
    background: rgb(177, 0, 0);
    border-color: rgb(177, 0, 0);
}
/* Contact Part End */




/* Footer Part Start */
#footer {
    background: #000;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#footer p {
    margin: 0;
}
#footer p a {
    color: red;
    transition: 0.3s;
}
#footer p a:hover {
    color: aqua;
}
/* Footer Part End */